<div class="limiter p-jc-center">
  <div class="container-login100 p-jc-center">
    <div class="wrap-login100 p-jc-center">
  <form class="example-form p-mr-5" name="userForm" [formGroup]="userForm" (ngSubmit)="ajouterUtilisateur()">
    <br>
    <div class="login100-pic" data-tilt>
      <img class="image w-25" src="assets/images/identification.png" alt="IMG">
    </div>
      <mat-form-field class="example-full-width">
          <mat-label>Prénom</mat-label>
          <input matInput  formControlName="prenom" required>
          <mat-error> Le prénom est <strong> requis</strong></mat-error>
          <mat-icon matSuffix>account_box</mat-icon>
      </mat-form-field>

      <mat-form-field class="example-full-width">
          <mat-label>Nom</mat-label>
          <input matInput formControlName="nom" required>
          <mat-error> Le nom est <strong> requis</strong></mat-error>
          <mat-icon matSuffix>account_box</mat-icon>
      </mat-form-field>

      <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
          <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
            Svp entrer un email valide
          </mat-error>
          <mat-icon matSuffix>alternate_email</mat-icon>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Telephone</mat-label>
          <span matPrefix>+221 &nbsp;</span>
          <input type="tel" matInput placeholder="70-555-12-34" formControlName="telephone" required>
          <mat-error> Le numéro de téléphone est <strong> requis</strong></mat-error>
          <mat-icon matSuffix>call</mat-icon>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
          <mat-error> Le mot de passe est <strong> requis</strong></mat-error>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Address</mat-label>
          <textarea matInput formControlName="adresse" required></textarea>
          <mat-error> L'adresse est <strong> requise</strong></mat-error>
          <mat-icon matSuffix aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        </mat-form-field>
        <mat-radio-group aria-label="Select an option" class="p-ml-4" formControlName="genre">
          <mat-radio-button value="femme">Femme</mat-radio-button>
          <mat-radio-button value="homme">Homme</mat-radio-button>
        </mat-radio-group>
        <div class="row">
          <button class="mt-3 p-ml-4" type="button" mat-raised-button (click)="fileInput.click()">Choisir photo de profil</button>
          <input hidden (change)="uploadFile($event)" #fileInput type="file" id="photo" name="photo">
        </div>

        <div class="example-button-row">
          <button mat-raised-button color="warn" class="col-md-3 gauche" type="reset">Annuler</button>
          <button mat-raised-button color="primary" class="col-md-3 droite">S'inscrire</button>
        </div>
        <p>
          <a routerLink="/connexion"> Vous avez déja un compte? <strong> SE CONNECTER</strong> </a>
        </p>
    </form>
  </div>
</div>
</div>
