.image{
  width: 10px;
  height: 10px;
}

.texte {
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.entete{
  background-color: blue;
}

.couleur{
  color: black;
}

.position{
  float: right;
}
