<div>
  <div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-light bgColor">
        <a class="navbar-brand">
            <img routerLink="regions" src="assets/images/logo.png" height="75" alt="CoolBrand">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a routerLink="regions" class="btn nav-item nav-link">Regions</a>
                <a routerLink="depts" class="btn nav-item nav-link">Départements</a>
                <a routerLink="villes" class="btn nav-item nav-link">Villes</a>
                <a routerLink="quartiers" class="btn nav-item nav-link">Quartiers</a>
                <a routerLink="organes" class="btn nav-item nav-link">Organes</a>
                <a routerLink="avis" class="btn nav-item nav-link">Avis</a>
                <a routerLink="stats" class="btn nav-item nav-link">Statistiques</a>
              </div>
            <div class="gauche">
              <img class="img-circle img-rounded float-left" src="{{transform(data.photo)}}" style="border-radius: 50%;" height="50" alt="CoolBrand">
              <a routerLink="infos" class="btn nav-item nav-link" role="button" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{data.prenom}}
              </a>
            </div>
            <a class="btn nav-item nav-link" (click)="deconnexion()">Se déconnecter</a>
        </div>
    </nav>
  </div>

  <div class="router">
    <router-outlet> </router-outlet>
  </div>

  </div>
