<p-toast></p-toast>
<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="Nouveau Département" icon="pi pi-plus" class="p-button-success p-mr-2" routerLink="add-dept"></button>
      <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
    </ng-template>
  </p-toolbar>

  <div>
    <router-outlet> </router-outlet>
  </div>

    <p-table #dt [value]="departements" [rows]="5" [paginator]="true" [globalFilterFields]="['nomDept']" [filterDelay]="0"
        [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Départements</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Rechercher..."/>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th> # </th>
                <th pSortableColumn="nomDept">Département <p-sortIcon field="nomDept"></p-sortIcon></th>
                <th pSortableColumn="nomRegion"> Région <p-sortIcon field="nomRegion"></p-sortIcon> </th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dept let-expanded="expanded">
            <tr *ngIf="dept.statut == true">
                <td>
                    <p-tableCheckbox [value]="dept"></p-tableCheckbox>
                </td>
                <td>{{dept.id}}</td>
                <td>{{dept.nomDept}}</td>
                <td> {{ dept.region.nomRegion }}</td>
                <td>
                  <button pButton pRipple [pRowToggler]="dept" class="p-button-rounded p-button-primary p-mr-2" [icon]="expanded ? 'pi pi-list' : 'pi pi-list'"></button>
                  <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" [routerLink]="[dept.id+'/update']"></button>
                  <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="supprimer(dept)"></button>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="rowexpansion" let-dept>
          <tr>
            <td colspan="7">
              <div class="p-p-3">
                <p-table class="" [value]="dept.villes" [rows]="5" [paginator]="true" datakey="id">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>#</th>
                      <th>Villes</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-ville>
                    <tr>
                      <td>{{ville.id}}</td>
                      <td>{{ville.nomVille}}</td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6">Il n'y a pas encore de villes enregistrées pour ce département. </td>
                    </tr>
                </ng-template>
                </p-table>
              </div>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
              Au total il y a {{departements ? departements.length : 0 }} départements.
            </div>
        </ng-template>
    </p-table>
</div>
