<p-table [value]="alertes" [paginator]="true" [rows]="10">
  <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        Alertes des utilisateurs
          <p-button icon="pi pi-refresh"></p-button>
      </div>
  </ng-template>
  <ng-template pTemplate="header">
      <tr>
          <th>#</th>
          <th>Personne de confiances</th>
          <th> Date </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-alerte>
      <tr>
          <td>{{alerte.id}}</td>
          <td>{{alerte.meritoire.nomComplet}}</td>
          <td> {{alerte.date}} </td>
      </tr>
  </ng-template>
  <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
          Au total, il y a  {{alertes ? alertes.length : 0 }} alertes.
      </div>
  </ng-template>
</p-table>
