<form name="orgForm" [formGroup]="orgForm" (ngSubmit)="ajouterOrgane()" fxLayoutAlign="stretch" fxLayout="column">
  <mat-form-field class="example-full-width w-25 p-ml-5 p-mr-5" layout-align="center center">
    <mat-label>Nom de l'organe</mat-label>
    <input type="text" matInput  placeholder="Entrer le nom de l'organe"  formControlName="nomOrgane" required>
    <mat-error> Le nom de l'organe est <strong> requis</strong></mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width w-25 p-ml-5 p-mr-5" layout-align="center center">
    <mat-label>Téléphone</mat-label>
    <input type="text" matInput  placeholder="Entrer le numéro de téléphone"  formControlName="telephone" required>
    <mat-error> Le numéro de téléphone est <strong> requis</strong></mat-error>
  </mat-form-field> <br>
  <mat-form-field class="example-full-width w-25 p-ml-5 p-mr-5" layout-align="center center">
    <mat-label>Email</mat-label>
    <input type="text" matInput  placeholder="Donner l'email"  formControlName="email" required>
    <mat-error> L'email est <strong> requis</strong></mat-error>
  </mat-form-field>
  <mat-form-field class="w-25 p-ml-5 example-full-width">
    <mat-label>Choisir la ville correspondante</mat-label>
    <input type="text" matInput formControlName="ville" [matAutocomplete]="auto" required>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions" [value]="option">
        {{option.nomVille}}
      </mat-option>
    </mat-autocomplete>
    <mat-error> Le choix d'une ville est <strong> requis</strong></mat-error>
  </mat-form-field>
  <div>
    <button mat-flat-button class="bouton p-ml-5 mt-3" type="submit" style="background-color: blue; color:white">Ajouter</button>
  <button mat-flat-button class="bouton p-ml-5 mt-3" type="button" (click)="retour()" style="background-color: red; color:white">Annuler</button>
  </div>
</form>
